<!-- <a routerLink="/workshop/new"><i class="fa fa-plus-circle" style="height: 50px; width: auto;"></i></a> -->
<!-- <br/><br/> -->
<div class="workshop-list" *ngFor="let workshop of workshops?.data">
  <a (click)="goToShow(workshop.attributes)">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{workshop.attributes.name}} | <i>{{workshop.attributes.starts_at | date:'short'}}</i></h5>
        <p class="card-text">
          {{workshop.attributes.slug}}
          {{workshop.attributes.description}}
        </p>
      </div>
    </div>
  </a>
</div>
