<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form (ngSubmit)="createWorkshop(workshop)" #workshopForm='ngForm'>
      <div class="form-group">
        <label for="name">Name*</label>
        <input type="text" id="name" class="form-control" required name="name" placeholder="Workshop Name" #name="ngModel" [(ngModel)]="workshop.name">
      </div>

      <div class="form-group">
        <label for="description">Description*</label>
        <textarea class="form-control" id="description" required name="description" #description='ngModel' [(ngModel)]='workshop.description' rows="3">
        </textarea>
      </div>

      <div class="form-group">
        <!-- starts_at: datetime -->
        <label for="starts_at">Starts At*</label>
        <div class="input-group">
          <input [owlDateTime]="starts_at" id="starts_at" class="form-control" required name="starts_at" [owlDateTimeTrigger]="starts_at" #starts_at="ngModel" [(ngModel)]="workshop.starts_at">
          <div class="input-group-append">
            <span class="btn btn-outline-secondary" [owlDateTimeTrigger]="starts_at"><i class="fa fa-calendar"></i></span>
          </div>
          <owl-date-time #starts_at [startAt]="starts_at_date" [hour12Timer]="true" [stepMinute]='15'></owl-date-time>
        </div>
      </div>

      <div class="form-group">
        <!-- sign_up_deadline: datetime -->
        <label for="sign_up_deadline">Sign Up Deadline*</label>
        <div class="input-group">
          <input [owlDateTime]="sign_up_deadline" id="sign_up_deadline" class="form-control" required name="sign_up_deadline" [owlDateTimeTrigger]="sign_up_deadline" #sign_up_deadline="ngModel" [(ngModel)]="workshop.sign_up_deadline">
          <div class="input-group-append">
            <span class="btn btn-outline-secondary" [owlDateTimeTrigger]="sign_up_deadline"><i class="fa fa-calendar"></i></span>
          </div>
          <owl-date-time #sign_up_deadline [startAt]="starts_at_date" [hour12Timer]="true" [stepMinute]='15'></owl-date-time>
        </div>
      </div>

      <div class="form-group">
        <!-- review_deadline: datetime -->
        <label for="review_deadline">Review Deadline*</label>
        <div class="input-group">
          <input [owlDateTime]="review_deadline" id="review_deadline" class="form-control" required name="review_deadline" [owlDateTimeTrigger]="review_deadline" #review_deadline="ngModel" [(ngModel)]="workshop.review_deadline">
          <div class="input-group-append">
            <span class="btn btn-outline-secondary" [owlDateTimeTrigger]="review_deadline"><i class="fa fa-calendar"></i></span>
          </div>
          <owl-date-time #review_deadline [startAt]="starts_at_date" [hour12Timer]="true" [stepMinute]='15'></owl-date-time>
        </div>
      </div>
      <div class="form-group">
        <!-- institution_id: integer -->
        <label for="institution_id">Institution</label><br/>
        <select class="form-control" id="institution_id" name="institution_id" #institution_id='ngModel' [(ngModel)]='workshop.institution_id'>
          <option *ngFor="let institution of institutions?.data" value="{{institution.id}}">{{institution.attributes.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <!-- user_id: integer -->
        <label for="facilitator_id">Facilitator</label><br/>
        <select class="form-control" id="facilitator_id" name="facilitator_id" #user_id='ngModel' [(ngModel)]='workshop.facilitator_id'>
          <option *ngFor="let user of users" value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
        </select>
      </div>


      <div class="form-group">
        <!-- additional_location_info: string -->
        <label for="additional_location_info">Additional Location Info</label>
        <textarea class="form-control" id="additional_location_info" name="additional_location_info" #additional_location_info='ngModel' [(ngModel)]='workshop.additional_location_info' rows="2">
        </textarea>
      </div>

      <div class="form-group">
        <!-- duration: float -->
        <label for="duration">duration</label>
        <input type="number" id="duration" class="form-control" name="duration" #duration="ngModel" [(ngModel)]="workshop.duration">
      </div>

      <div class="form-group">
        <!-- stipend_cents: integer -->
        <label for="stipend_cents">stipend_cents</label>
        <input type="number" id="stipend_cents" class="form-control" value="200.00" placeholder="200.00" name="stipend_cents" #stipend_cents="ngModel" [(ngModel)]="workshop.stipend_cents">
      </div>

      <div class="form-group">
        <!-- stipend_currency: string -->
        <label for="stipend_currency">stipend_currency*</label>
        <input type="text" id="stipend_currency" value="USD" placeholder="USD" class="form-control" name="stipend_currency" #stipend_currency="ngModel" [(ngModel)]="workshop.stipend_currency">
      </div>

      <div class="form-group">
        <!-- attendee_limit: integer -->
        <label for="attendee_limit">attendee_limit*</label>
        <input type="text" id="attendee_limit" class="form-control" name="attendee_limit" #attendee_limit="ngModel" [(ngModel)]="workshop.attendee_limit">
      </div>

      <div class="form-group">
        <!-- slug: string -->
        <label for="slug">slug*</label>
        <input type="text" id="slug" class="form-control" name="slug" #slug="ngModel" [(ngModel)]="workshop.slug">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!workshopForm.form.valid">Create Workshop</button>

    </form>
    <small>* Required Field</small>
  </div>
</div>
