<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form (ngSubmit)="createInstitution(institution)" #institutionForm='ngForm'>
      <div class="form-group">
        <label for="name">Name*</label>
        <input type="text" id="name" class="form-control" required name="name" placeholder="Institution Name" #name="ngModel" [(ngModel)]="institution.name">
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" class="form-control" required name="city" placeholder="City" #name="ngModel" [(ngModel)]="institution.city">
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input type="text" id="state" class="form-control" required name="state" placeholder="State" #name="ngModel" [(ngModel)]="institution.state">
      </div>

      <!-- t.string "address_line_1" -->
      <!-- t.string "address_line_2" -->
      <!-- t.integer "zip" -->
      <!-- t.bigint "consortium_id" -->

      <button type="submit" class="btn btn-primary" [disabled]="!institutionForm.form.valid">Create Institution</button>

    </form>
    <small>* Required Field</small>
  </div>
</div>
