  <div class="float-left">
    <h2>Institutions</h2>
  </div>
  <div class="float-right">
    <a class="btn btn-primary btn-lg rounded-circle" routerLink="/institution/new"><i class="fa fa-plus"></i></a>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>

<div class="institution-list" *ngFor="let institution of institutions?.data">
  <a (click)="goToShow(institution.attributes)">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{institution.attributes.name}}</h5>
      <p class="card-text">
        {{institution.attributes.slug}}
      </p>
    </div>
  </div>
  </a>
</div>
