<app-input-field [attribute]="'name'"
  [label]="'Name'" 
  [type]="'text'"
  [icon]="''"
  [control]="institutionForm.controls['name']"
  [submitted]="'submitted'">
</app-input-field>

<app-input-field [attribute]="'address_line_1'"
  [label]="'Address Line 1'" 
  [type]="'text'"
  [icon]="''"
  [placeholder]="'123 Example Rd.'"
  [control]="institutionForm.controls['address_line_1']"
  [submitted]="'submitted'">
</app-input-field>

<app-input-field [attribute]="'address_line_2'"
  [label]="'Address Line 2'" 
  [type]="'text'"
  [icon]="''"
  [control]="institutionForm.controls['address_line_2']"
  [submitted]="'submitted'">
</app-input-field>

<app-input-field [attribute]="'city'"
  [label]="'City'" 
  [type]="'text'"
  [icon]="''"
  [control]="institutionForm.controls['city']"
  [submitted]="'submitted'">
</app-input-field>

<app-input-field [attribute]="'state'"
  [label]="'State'" 
  [type]="'text'"
  [icon]="''"
  [control]="institutionForm.controls['state']"
  [submitted]="'submitted'">
</app-input-field>

<app-input-field [attribute]="'zip'"
  [label]="'Zip'" 
  [type]="'number'"
  [icon]="''"
  [control]="institutionForm.controls['zip']"
  [submitted]="'submitted'">
</app-input-field>
