<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form (ngSubmit)="createWorkshop(workshop)" #workshopForm='ngForm'>
      <div class="form-group">
        <label for="name">Name*</label>
        <input type="text" id="name" class="form-control" required name="name" placeholder="Workshop Name" #name="ngModel" [(ngModel)]="workshop.name">
      </div>

      <div class="form-group">
        <label for="description">Description*</label>
        <textarea class="form-control" id="description" required name="description" #description='ngModel' [(ngModel)]='workshop.description' rows="3">
        </textarea>
      </div>

      <div class="form-group">
        <!-- institution_id: integer -->
        <label for="institution_id">Institution</label><br/>
        <select id="institution_id" name="institution_id" #institution_id='ngModel' [(ngModel)]='workshop.institution_id'>
          <option *ngFor="let institution of institutions" value="{{institution.id}}">{{institution.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="facilitator_id">Facilitator</label><br/>
        <input type="text" id="facilitator_id" name="facilitator_id" placeholder="3" #facilitator_id='ngModel' [(ngModel)]='workshop.facilitator_id'>
      </div>


      <div class="form-group">
        <!-- additional_location_info: string -->
        <label for="additional_location_info">Additional Location Info</label>
        <textarea class="form-control" id="additional_location_info" name="additional_location_info" #additional_location_info='ngModel' [(ngModel)]='workshop.additional_location_info' rows="2">
        </textarea>
      </div>

      <div class="form-group">
        <!-- starts_at: datetime -->
        <label for="starts_at">Starts At*</label>
        <!-- <input id="starts_at" class="form-control" placeholder="yyyy-mm-dd" required name="starts_at" dl-date-time-picker #starts_at="dl-date-time-picker" [(ngModel)]="workshop.starts_at"> -->
        <!-- <div class="input-group-append"> -->
        <!--   <button class="btn btn-outline-secondary" (click)="starts_at.toggle()" type="button"> -->
        <!--    Date --> 
        <!--   </button> -->
        <!-- </div> -->
        <input [owlDateTime]="starts_at" id="starts_at" class="form-control" required name="starts_at" [owlDateTimeTrigger]="starts_at "#starts_at="ngModel" [(ngModel)]="workshop.starts_at">
        <span ><i class="fa fa-calendar"></i></span>
        <owl-date-time #starts_at [startAt]="starts_at_date" [hour12Timer]="true" [stepMinute]='15'></owl-date-time>
        <!-- </div> -->
      </div>
        <!-- duration: float -->
        <!-- stipend_cents: integer -->
        <!-- stipend_currency: string -->
        <!-- sign_up_deadline: datetime -->
        <!-- attendee_limit: integer -->
        <!-- review_deadline: datetime -->
        <!-- facilitator_id: integer -->
        <!-- slug: string -->
      <button type="submit" class="btn btn-primary" [disabled]="!workshopForm.form.valid">Create Workshop</button>

    </form>
    <small>* Required Field</small>
  </div>
</div>
