<h1>Welcome To the OTN Workshop Dashboard!</h1>
<div class="creditBadge">
  <img src="./assets/books.jpg" alt="Open Textbook Network Dashboard" class="banner img-fluid"/>

  <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-size:12px;font-weight:bold;line-height:1.2;border-radius:3px;" href="https://unsplash.com/@anniespratt?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Annie Spratt">
    <span style="display:inline-block;padding:2px 3px;">
      <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32">
        <title>unsplash-logo</title>
        <path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path>
      </svg>
    </span>
    <span style="display:inline-block;padding:2px 3px;">Annie Spratt</span>
  </a>
</div>

<div class="row equal">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">What are open textbooks?</h3>
        <span class="card-text">
          <p>
            Open textbooks are textbooks that have been funded, published, and licensed to be freely used, adapted, and distributed. These books have been reviewed by faculty from a variety of colleges and universities to assess their quality. These books can be downloaded for no cost, or printed at low cost. All textbooks are either used at multiple higher education institutions; or affiliated with an institution, scholarly society, or professional organization.
          </p>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Do students benefit from this?</h3>
        <p class="card-text">
          With the average student budgeting $1200 annually for books and supplies, open textbooks provide real savings for students and their families. Nine early OTN members have reported a $1.5 million savings in textbook costs to students, with most of the savings realized in the past year.
        </p>
      </div>
    </div>
  </div>
</div>

<hr class="purplemagenta">

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">What's Next?</h3>
        <span class="card-text">
          <p>
            <b>Faculty</b>: You should've received an email from a representative at your university with a link to create your account. After creating a password you will be redirected to the workshop you were invited to. If interested, please register to attend!
          </p>
          
          <p>
            If your institution is not part of the Open Textbook Network, <a href="http://research.cehd.umn.edu/otn/membership-benefits/contact-us/">we'd be happy to help arrange that</a>.
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
