<div class="container">
  <div class="row">
    <div class="col-5-md">
      <h1><%= @consortium.name %></h1>
    </div>
    <div class="offset-md-1 col-1-md ">
      <%= link_to new_institution_path, class: "btn btn-info btn-md" do %>
        Institution <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
