/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

// Variables
//-------------------------

// Text Highlights/Callouts
$otn-purple: #92278F
$otn-magenta: #EC008C
$otn-orange: #F1592A
$otn-yellow: #FCB040

// Body Copy
$otn-gray: #404041
$white: #FFFFFF
$black: #000000

// Layout
//-------------------------

*
  font-family: 'Nunitor Sans', sans-serif

html
  height: 100%

body
  display: flex
  flex-direction: column
  min-height: 100vh

header.main
  margin-top: 2em
  img.banner
    max-height: 130px
    min-width: 144px
  nav
    margin-top: 1em
    border-top: solid 1px silver

footer
  margin-top: auto
  margin-bottom: 2em

main
  flex: 1 0 auto;
  margin-bottom: 5em

nav
  li
    list-style-type: none
    display: inline


// Typography
//-------------------------

h1, h2, h3, h4, h5, h6
  font-weight: 600
  color: $otn-gray
  text-transform: uppercase

p
  font-weight: 400

a
  color: $otn-gray
  cursor: pointer
  text-decoration: none

breadcrumb
  margin-top: 0
  ul.breadcrumb
    margin-bottom: 2em
    background-color: transparent
    li.breadcrumb-item
      text-transform: capitalize
      color: #6c757d
      opacity: 0.25
    li.breadcrumb-item.active
      opacity: 0.75
      color: $otn-gray
