<app-input-field [attribute]="'name'"
  [label]="'Name'" 
  [type]="'text'"
  [icon]="''"
  [control]="consortiumForm.controls['name']"
  [submitted]="'submitted'">
</app-input-field>

<app-input-field [attribute]="'state'"
  [label]="'State'" 
  [type]="'text'"
  [icon]="''"
  [control]="consortiumForm.controls['state']"
  [submitted]="'submitted'">
</app-input-field>

<app-select-field [attribute]="'admin_id'"
  [label]="'Admin'"
  [options]="admins?.data"
  [control]="consortiumForm.controls['admin_id']"
  [submitted]="'submitted'">
</app-select-field>
