<p>Dear FIRST NAME,</p>

<p>Thank you for attending the Open Textbook Workshop. We hope it was informative and provided some insights into opportunities to improve student access, affordability, and academic success.</p>

<p>Now, you can make a difference. By writing a brief review, you will help your peers better understand the quality of an open textbook in your field. So, if there is an open textbook in the <a href="http://open.umn.edu">Open Textbook Library</a> that fits your expertise, especially if it fits a course you teach, then please consider writing a review.</p>

<p>The review should be concise: helpful, yet short enough to be useful on the <a href="http://open.umn.edu">Open Textbook Library</a>. The review should be completed by <b>REVIEW DEADLINE</b>. After this deadline, your stipend will be processed and sent to you.</p>

<p><b>Write the review using LINK TO REVIEW SURVEY.</b></p>

<p>Please contact CONTACT INFO with any questions. Thank you for your efforts.</p>

<p>FACILITATOR NAME</p>

<p><b>Follow this link to the online textbook review form:</b>
<br/>
LINK TO REVIEW SURVEY</p>

<p>Or copy and paste the URL below into your internet browser:
<br/>
URL TO REVIEW SURVEY</p>


<p>If you <b>DO NOT</b> wish to write a review, you can opt out by clicking <b>LINK TO OPT OUT OF SURVEY</b>. By opting out, you will <b>NOT</b> be eligible for a stipend.</p>
