<p>Center for Open Education | 330 Wulling Hall | 86 Pleasant St SE | Minneapolis, MN 55455 USA | open@umn.edu 
  <br/>
  <a href="http://www.cehd.umn.edu/">College of Education and Human Development</a> | <a href="http://www.umn.edu/">University of Minnesota</a>
</p>

<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a> Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a>.
